// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$black: #000;
$white: #FFF;
$blue: #00608b;

$red: (
    primary: #ed242a,
    dark-red: #ff0015
);

$grey: (
    primary: #9e9d9e,
    border-grey: #eeeceb,
    background-grey: #d5d5d5,
    background-light-grey: #ebeaeb,
    dark-grey: #353535,
    form-grey: #d7e2eb,
);

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$primary-font: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial",
 sans-serif !default;

/// Code (monospace) font family
/// @type List
$secondary-font: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco",
 monospace !default;

$text-font-size: 14px !default;
$text-font-weight: 400 !default;

//media query breakpoints
$breakpoints: (
  "small" : (min-width: 480px),
  "medium": (min-width: 768px),
  "large": (min-width: 992px),
  "huge": (min-width: 1200px)
 )!default;

 //Define responsive font sizes

$small: 480px;
$medium: 768px;
$large: 992px;
$huge: 1200px;

$p-font-sizes: (null : 15px, $small : 16px, $medium : 17px, $large : 19px) !default;

$h1-font-sizes: (null : 26px, $small : 29px, $medium : 31px) !default;

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
